### [ 자료형 ]

**사칙연산**

In [17]:
print(2*3)
print(4*5)
print(5-1)
print(40/2)
print(40//3)# 몫
print(40%3)# 나머지

6
20
4
20.0
13
1

**boolean**

In [67]:
5 > 2

True

In [68]:
3 < 1

False

In [69]:
5 > 2*2

True

In [70]:
3 == 2 # = : 변수에 값 할당 / == 서로 값이 같은지 비교하는 조건

False

**문자열 (String)**

In [4]:
"Ola"

'Ola'

In [18]:
'Ola'

'Ola'

In [22]:
"Hi, there. " + 'Ola'

'Hi, there. Ola'

In [8]:
"Ola" * 3

'OlaOlaOla'

In [9]:
# 문자열 안에 작은따옴표 넣기
# 방법 1 _ 큰따옴표 활용
"Runnin' down the hill"

"Runnin' down the hill"

In [23]:
# 방법 2 _ 백슬래시(\) 활용
"Runnin\' down the hill'"

"Runnin' down the hill'"

- function : function_name(parameter)

In [14]:
# 글자 수 확인
len('Ola')

3

- method : object.method_name()

In [11]:
# 대문자로 변환 >> .upper()
"Ola".upper()

'OLA'

**Difference between Method and Function in Python**  

- 메서드는 클래스 및 객체(object)와 연관되어 있는 함수
- 클래스 내에 선언되어 있는 함수  
[Reference](https://datascienceplus.com/methods-vs-functions-in-python/)  



- 클래스는 함수의 일종
- 함수 : 여러 클래스에 적용되는 것
- 메소드 : 특정 클래스(숫자, 문자)에만 적용되는 함수

In [29]:
# 숫자의 길이 확인

# len(304023) # error 발생 :  TypeError: object of type 'int' has no len()
len(str(304023))

6

**변수 (Variable)**

In [33]:
name = 'Ola'
name

'Ola'

In [37]:
# 변수 값 변경
name = 'Sonja'
name

'Sonja'

In [40]:
name * 3

'SonjaSonjaSonja'

In [36]:
a = 4
b = 6
a + b

10

### [ 데이터 보관소 ]

**리스트** : 서로 다른 객체들을 일렬로 나열한 것

In [42]:
[]

[]

In [43]:
lottery = [3, 42, 12, 19, 30, 59]
lottery

[3, 42, 12, 19, 30, 59]

In [44]:
len(lottery)

6

In [46]:
# 오름차순 정렬
lottery.sort()
lottery

[3, 12, 19, 30, 42, 59]

In [47]:
# 내림차순 정렬
lottery.reverse()
lottery

[59, 42, 30, 19, 12, 3]

In [48]:
# 리스트 값 추가
lottery.append(199)
lottery

[59, 42, 30, 19, 12, 3, 199]

In [49]:
# 리스트 인덱싱 : 요소 찾기
print(lottery[0])
print(lottery[1])

59
42

In [ ]:
# 인덱스를 활용한 요소 제거 : .pop()
print(lottery)
lottery.pop(0)
print(lottery)

**딕셔너리** : 리스트와 달리 순서가 없는 데이터 보관소 / key 값으로 value 값을 찾는다.  

|리스트|딕셔너리
|------|---|
|순서 o|순서 x|
|index|key, value|

In [55]:
{}

{}

In [58]:
participant = {'name':'Ola', 'country':'Poland', 'favorite_numbers':[7,42,92]}
participant

{'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}

In [59]:
len(participant)

3

In [60]:
# 키로 값 찾기
participant['name']

'Ola'

In [61]:
# 키로 값 찾기
participant['country']

'Poland'

In [64]:
participant['favorite_numbers']

[7, 42, 92]

In [62]:
# 데이터 추가
participant['age'] = 23

In [63]:
participant

{'name': 'Ola',
 'country': 'Poland',
 'favorite_numbers': [7, 42, 92],
 'age': 23}

**튜플** : 데이터 수정이 절대 불가한 자료형

In [65]:
monitor = (1920, 1080)
monitor

(1920, 1080)

In [66]:
# 괄호를 치지 않아도 튜플로 인식
m2 = 1920, 1080
m2

(1920, 1080)