### [ 자료형 ] 
- 숫자(사칙연산), boolean, 문자열

**사칙연산**

In [17]:
print(2*3)
print(4*5)
print(5-1)
print(40/2)
print(40//3)# 몫
print(40%3)# 나머지

6
20
4
20.0
13
1

**boolean**

In [67]:
5 > 2

True

In [68]:
3 < 1

False

In [69]:
5 > 2*2

True

In [70]:
3 == 2 # = : 변수에 값 할당 / == 서로 값이 같은지 비교하는 조건

False

**문자열 (String)**

In [4]:
"Ola"

'Ola'

In [18]:
'Ola'

'Ola'

In [22]:
"Hi, there. " + 'Ola'

'Hi, there. Ola'

In [8]:
"Ola" * 3

'OlaOlaOla'

In [9]:
# 문자열 안에 작은따옴표 넣기
# 방법 1 _ 큰따옴표 활용
"Runnin' down the hill"

"Runnin' down the hill"

In [23]:
# 방법 2 _ 백슬래시(\) 활용
"Runnin\' down the hill'"

"Runnin' down the hill'"

- function : function_name(parameter)

In [14]:
# 글자 수 확인
len('Ola')

3

- method : object.method_name()

In [11]:
# 대문자로 변환 >> .upper()
"Ola".upper()

'OLA'

**Difference between Method and Function in Python**  

- 메서드는 클래스 및 객체(object)와 연관되어 있는 함수
- 클래스 내에 선언되어 있는 함수  
[Reference](https://datascienceplus.com/methods-vs-functions-in-python/)  



- 클래스는 함수의 일종
- 함수 : 여러 클래스에 적용되는 것
- 메소드 : 특정 클래스(숫자, 문자)에만 적용되는 함수

In [29]:
# 숫자의 길이 확인

# len(304023) # error 발생 :  TypeError: object of type 'int' has no len()
len(str(304023))

6

**변수 (Variable)**

In [33]:
name = 'Ola'
name

'Ola'

In [37]:
# 변수 값 변경
name = 'Sonja'
name

'Sonja'

In [40]:
name * 3

'SonjaSonjaSonja'

In [36]:
a = 4
b = 6
a + b

10

### [ 데이터 보관소 ]
- 리스트, List Comprehension 딕셔너리, 튜플

**리스트** : 서로 다른 객체들을 일렬로 나열한 것

In [42]:
[]

[]

In [43]:
lottery = [3, 42, 12, 19, 30, 59]
lottery

[3, 42, 12, 19, 30, 59]

In [44]:
len(lottery)

6

In [46]:
# 오름차순 정렬
lottery.sort()
lottery

[3, 12, 19, 30, 42, 59]

In [47]:
# 내림차순 정렬
lottery.reverse()
lottery

[59, 42, 30, 19, 12, 3]

In [48]:
# 리스트 값 추가
lottery.append(199)
lottery

[59, 42, 30, 19, 12, 3, 199]

In [49]:
# 리스트 인덱싱 : 요소 찾기
print(lottery[0])
print(lottery[1])

59
42

In [ ]:
# 인덱스를 활용한 요소 제거 : .pop()
print(lottery)
lottery.pop(0)
print(lottery)

**List Comprehension**

In [38]:
# 리스트 내 각각의 요소에 수식을 가함
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print([ x**2 for x in number_list])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
squares = [ x**2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
# 짝수만 반환
squares = [x**2 for x in range(1, 11) if x % 2 == 0]
squares

[4, 16, 36, 64, 100]

**딕셔너리** : 리스트와 달리 순서가 없는 데이터 보관소 / key 값으로 value 값을 찾는다.  

|리스트|딕셔너리
|------|---|
|순서 o|순서 x|
|index|key, value|

In [55]:
{}

{}

In [58]:
participant = {'name':'Ola', 'country':'Poland', 'favorite_numbers':[7,42,92]}
participant

{'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}

In [59]:
len(participant)

3

In [60]:
# 키로 값 찾기
participant['name']

'Ola'

In [61]:
# 키로 값 찾기
participant['country']

'Poland'

In [64]:
participant['favorite_numbers']

[7, 42, 92]

In [62]:
# 데이터 추가
participant['age'] = 23

In [63]:
participant

{'name': 'Ola',
 'country': 'Poland',
 'favorite_numbers': [7, 42, 92],
 'age': 23}

**튜플** : 데이터 수정이 절대 불가한 자료형

In [65]:
monitor = (1920, 1080)
monitor

(1920, 1080)

In [66]:
# 괄호를 치지 않아도 튜플로 인식
m2 = 1920, 1080
m2

(1920, 1080)

In [42]:
# 하단은 각각의 변수에 값을 정수로 할당 / 튜플 x

length, width = 1920, 1080

print(length)
print(width)

1920
1080

### [ 문법 ]
- 조건문, 함수(사용자정의함수/lambda함수), 반복문(for문/while문)

**조건문** : 논리적으로 판단

In [4]:
# 2가지 조건문

if 5 > 2: # 조건이 참이기에 아래 로직 수행
    print('5 is greater than 1')

else:
    print('5 is not greater than 2')

5 is greater than 1

In [6]:
# 3가지 이상 조건문

# name = 'sonja'
name = 'haha'

if name == 'ola':
    print('hey, ola')

elif name == 'sonja':
    print('hey, sonja')
    
else:
    print('hey, anonymous')

hey, anonymous

In [8]:
volume = 57

if volume < 20:
    print("It's kinds quiet..")

elif 20 <= volume < 40:
    print("It's nice for background music")
    
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
    
elif 60 <= volume < 80:
    print("Nice for parties")
    
elif 80 <= volume < 100:
    print("A bit loud!")
    
else:
    print("My ears are hurting! :(")

Perfect, I can hear all the details

**사용자 정의 함수**

In [9]:
name = 'hello'
name

'hello'

In [10]:
# 내장함수 : 이미 파이썬에서 정의해 둔 함수
len(name)

5

In [21]:
# 함수 정의
def sum(a, b): # 매개변수 a, b
    c = a + b
    return c

# 함수 호출
x = 1
y = 2

sum(x,y) # 호출 시, 매개변수 필수 (2개 인자 필수 삽입)

3

In [19]:
# 함수 정의
def hi():
    print('hi, there')
    
# 함수 호출
hi() # 함수 정의시 return이 아닌 print 기능을수행하기에 값이 반환된것이 아니라 단순 프린트 기능 수행

hi, there

In [20]:
# 함수 정의
def hi(name):
    if name == 'ola':
        print('hi, ola!')
    elif name == 'sonja':
        print('hi, sonja!')
    else:
        print('hi, anonymous')

# 함수 호출
hi('sonja')

hi, sonja!

**람다함수** : 익명 함수

In [32]:
(lambda x, y : x + y)(10, 20) # 10, 20 인자를 x, y에 할당하여 더한다

30

**Input Function**

In [43]:
quey_txt = input('1. 크롤링할 키워드는 무엇입니까?')

1. 크롤링할 키워드는 무엇입니까?추천

**반복문**

In [22]:
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']

girls

['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']

In [23]:
len(girls)

5

In [24]:
for girl in girls:
    print(girl)

Rachel
Monica
Phoebe
Ola
You

In [25]:
# 응용 : for문 + 사용자 정의 함수

for girl in girls:
    hi(girl)

hi, anonymous
hi, anonymous
hi, anonymous
hi, anonymous
hi, anonymous

In [26]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [28]:
range(1, 5)

range(1, 5)

In [27]:
list(range(1, 5))

[1, 2, 3, 4]

**while 문** : 조건문의 참일 동안 하단 로직을 수행하여라

In [35]:
i = 0

while i < 3:
    print('It is True')
    i += 1

It is True
It is True
It is True